<script>
    import Header from './src/components/Header.vue'

    export default {
        name: 'app',
        components: {
            Header: Header,
        },
    };
</script>

<template>
    <div id="app">
        <Header></Header>
        <div id="container">
            <router-view></router-view>
        </div>
    </div>
</template>


<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

    #id {
        display: flex;
        flex-direction: column;
    }

    * {
        font-family: 'Roboto', sans-serif;
    }

    body{
        padding: 0 2%;
        background-color: rgba(1,1,1, 0.01);
    }

    #container{
    }
</style>
