<template>
    <header class="main-header">
        <div class="main-header__logo-header">
            <router-link to="/"
                         class="header__link header__link_size_b header__link_style_b">{{appName}}
            </router-link>
        </div>
        <nav class="main-header__route-nav">
            <ul class="main-header__list">
                <li class="main-header__list__element">
                    <span class="header__link header__link_size_m"
                          @click="showEventDropDown = !showEventDropDown">Events</span>
                    <transition name="fade">
                        <ul class="dropdown dropdown__style-default" v-if="showEventDropDown"
                            @close="showEventDropDown = false">
                            <li class="dropdown__element" @click="dropDownClose">
                                <router-link class="dropdown__element" to="/events">List</router-link>
                            </li>
                            <li class="dropdown__element" id="show-modal" @click="modalOpen">
                                <div>Add</div>
                            </li>
                        </ul>
                    </transition>
                </li>
                <li class="main-header__list__element">
                    <router-link to="/about"
                                 class="header__link header__link_size_m header__link_style_default">About
                    </router-link>
                </li>
            </ul>
        </nav>
        <modal v-if="showModal" @close="showModal = false"></modal>
    </header>

</template>

<script>
    import * as CONSTANTS from './../constants/constants'
    import eventAddModal from './../modals/EventModal.vue'

    export default {
        name: "Header",
        components: {
            modal: eventAddModal
        },

        data: () => {
            return {
                showModal: false,
                showEventDropDown: false,
                appName: CONSTANTS.APP_NAME
            }
        },

        created() {
            window.addEventListener("click", this.close);
        },

        beforeDestroy() {
            window.removeEventListener("click", this.close);
        },

        methods: {
            dropDownClose(){
                this.showEventDropDown = false;
            },
            close(e) {
                if (!this.$el.contains(e.target) || this.$el === e.target) {
                    this.showEventDropDown = false;
                }
            },
            modalOpen() {
                this.showModal = true;
                this.showEventDropDown = false;
            }
        }

    }
</script>

<style lang="scss">
    @import "./../scss/variables";

    .dropdown {
        padding-left: 0;
        list-style-type: none;
        /*position: fixed;*/
        z-index: 100;
        margin-top: 0.5em;
        width: auto;

        .dropdown__element {
            padding: 0.5em 1em 0.5em 0.5em;
            a {
                padding: 0;
                color: $mainFontColor;
                text-decoration: none;
            }
        }
    }

    .dropdown__style-default {
        /*background-color: #f5f5f5;*/
    }

    .header__link {
        text-decoration: none;
    }

    .header__link_size_b {
        font-size: 2em;
    }

    .header__link_size_m {
        font-size: 1.2em;
    }

    .header__link_style_b {
        color: $additionalFontColor;

        &:hover {
            color: $additionalFontHoverColor;
        }
    }

    .header__link_style_default {
        color: $mainFontColor;

        &:hover {
            color: $mainFontHoverColor;
        }
    }

    header.main-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        div.main-header__logo-header {
            text-transform: uppercase;
        }

        nav.main-header__route-nav {
            .main-header__list {
                display: flex;
                flex-direction: column;
                list-style-type: none;

                padding-left: 0;
                width: 96vw;

                li.main-header__list__element {
                    padding: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }


    @media (min-width: 960px) {
        header.main-header {
            flex-direction: row;

            nav.main-header__route-nav {
                .main-header__list {
                    flex-direction: row;
                    padding-left: 2em;
                    width: auto;
                }
            }
        }

        .dropdown {
            padding-left: 0;
            list-style-type: none;
            position: fixed;
            z-index: 100;
            margin-top: 0.5em;

            .dropdown__element {
                padding: 0.5em 1em 0.5em 0.5em;
            }
        }

        .dropdown__style-default {
            background-color: #f5f5f5;
        }
    }
</style>
