<template>
    <div>
        <p>
            <b>Notice:</b> This project was developed in a hurry
        </p>
        <p>
            Contact me <a href="mailto:null.0.@gmail.com">null.0.@gmail.com</a>
        </p>
    </div>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>

</style>
