<script>
    import Highcharts from 'highcharts';
    import loadMap from 'highcharts/modules/map.js';
    import loadStock from 'highcharts/modules/stock.js';
    import {genComponent} from 'vue-highcharts';
    import vSelect from 'vue-select'
    import * as EventsAction from './../actions/Event';
    import * as EventTypeAction from './../actions/EverntType';
    import * as EventMutator from './../mutators/EventMutator'
    import {InfoIcon} from 'vue-feather-icons'

    loadMap(Highcharts);
    loadStock(Highcharts);

    export default {
        name: 'Dashboard',
        components: {
            Highcharts: genComponent('Highcharts', Highcharts),
            Highstock: genComponent('Highstock', Highcharts),
            InfoIcon,
            'v-select': vSelect
        },
        data() {
            return {
                timelineChartOptions: {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Event device shares'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        name: 'device',
                        colorByPoint: true,
                        data: []
                    }]
                },
                chartOptions: {
                    chart: {
                        type: 'pie',
                        // width: 500
                    },
                    title: {
                        text: 'Event type shares'
                    },
                    series: [{
                        name: 'count',
                        colorByPoint: true,
                    }]
                },
                eventTypes: [],
                chartSelect: '',
                chartSelectPlaceHolder: 'select period',
                chartSelectOptions: [
                    {label: 'Day', code: 'today'},
                    {label: 'Week', code: 'week'},
                    {label: 'Month', code: 'month'},
                    {label: 'Total', code: 'total'},
                ],
                events: [],
                errored: false,
                isEventsLoaded: false,
                isEventTypesLoaded: false,
            }
        },
        created() {},
        computed: {
            filterTodayEvents() {
                return EventMutator.filterByDate(this.events, EventMutator.DATE_FILTER_TODAY);
            },
            filterWeekEvents() {
                return EventMutator.filterByDate(this.events, EventMutator.DATE_FILTER_WEEK);
            },
            filterMonthEvents() {
                return EventMutator.filterByDate(this.events, EventMutator.DATE_FILTER_MONTH);
            }
        },

        methods: {
            prepareChartsToUpdate() {

                if (this.chartSelect.code === 'total') {
                    this.updateCharts(this.events, this.eventTypes)
                } else {
                    let events = EventMutator.filterByDate(this.events, this.chartSelect.code);
                    if (events.length > 0) {
                        this.updateCharts(events, this.eventTypes);
                    } else {
                        this.chartSelect = {label: 'Total', code: 'total'};
                        console.log('Sorry, not enough data for filter')
                    }
                }

            },
            updateCharts(events, eventTypes) {
                if (this.$refs.piechart) {
                    this.$refs.piechart.chart.series[0].update({
                        data: EventMutator.filterByType(events, eventTypes)
                    }, true);

                    this.$refs.devicechart.chart.series[0].update({
                        data: EventMutator.filterByDevice(events)
                    }, true);
                }
            }
        },
        mounted() {
            let events = EventsAction.getEvents();
            events.then(r => {
                if (r.status === EventTypeAction.STATUS_OK) {
                    this.events = r.data;
                    this.isEventsLoaded = true;
                } else {
                    this.errored = true;
                }
            })
                .then(() => {
                    let eventTypes = EventTypeAction.getEventTypes();
                    eventTypes.then(r => {
                        if (r.status === EventTypeAction.STATUS_OK) {
                            this.eventTypes = r.data;
                            this.isEventTypesLoaded = true;
                        } else {
                            this.errored = true;
                        }
                    })
                        .then(() => {
                            if (!this.errored && this.isEventsLoaded && this.isEventTypesLoaded) {
                                this.updateCharts(this.events, this.eventTypes);
                            }
                        });
                })
        }
    }
</script>

<template>
    <div id="dashboard">
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>

        <section v-else>
            <div id="stats">
                <div class="stats__header">
                    <span class="stats__header__element">Statistics</span>
                </div>
                <div class="stats__elements">
                    <div class="stats__el">
                        <label>
                            <span>Events total</span>
                            <info-icon size="1x" class="custom-class"></info-icon>
                        </label>
                        <div>{{events.length}}</div>
                    </div>
                    <div class="stats__el">
                        <label>
                            <span>Event types total</span>
                            <info-icon size="1x" class="custom-class"></info-icon>
                        </label>
                        <div>{{eventTypes.length}}</div>
                    </div>
                    <div class="stats__el">
                        <label>
                            <span>Events today</span>
                            <info-icon size="1x" class="custom-class"></info-icon>
                        </label>
                        <div>
                            {{filterTodayEvents.length}}
                        </div>
                    </div>
                    <div class="stats__el">
                        <label>
                            <span>Events this week</span>
                            <info-icon size="1x" class="custom-class"></info-icon>
                        </label>
                        <div>
                            {{filterWeekEvents.length}}
                        </div>
                    </div>
                    <div class="stats__el">
                        <label>
                            <span>Events this month</span>
                            <info-icon size="1x" class="custom-class"></info-icon>
                        </label>
                        <div>
                            {{filterMonthEvents.length}}
                        </div>
                    </div>

                </div>
            </div>
            <div id="charts">
                <v-select class="chart-select" :options="chartSelectOptions" :clearable="false"
                          v-model="chartSelect"
                          @input="prepareChartsToUpdate"
                          :placeholder="chartSelectPlaceHolder"></v-select>
                <div class="highcharts-pane">
                    <Highcharts ref="devicechart" :options="timelineChartOptions"/>
                    <Highcharts ref="piechart" :options="chartOptions"/>
                </div>
            </div>
        </section>

    </div>
</template>

<style lang="scss" scoped>
    @import "~vue-select/dist/vue-select.css";
    @import "./../scss/variables";

    #dashboard {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
    }

    #charts {
        .highcharts-pane{
            display: flex;
            flex-direction: column;
        }
    }

    .chart-select {
        display: inline-block;
        width: 100%;
        margin: 1em 0;
    }

    #stats {
        display: flex;
        flex-direction: column;

        .stats__header {
            .stats__header__element {
                color: $mainFontColor;
                font-size: 1.5em;
                font-weight: bold;
            }
        }

        .stats__elements {
            display: flex;
            flex-direction: column;

            .stats__el {
                padding: 1em 0;
                line-height: 2em;

                label {
                    font-weight: bold;
                    display: flex;
                    align-items: center;

                    .feather {
                        padding-left: 0.5em;
                    }
                }
            }
        }
    }

    @media (min-width: 960px) {
        .chart-select {
            display: inline-block;
            max-width: 20em;
            width: 20em;
        }

        #stats {
            .stats__elements {
                flex-direction: row;

                .stats__el:first-child {
                    padding: 1em 0;
                }

                .stats__el {
                    padding: 1em 2em;
                }
            }
        }

        #charts{
            .highcharts-pane{
                display: flex;
                flex-direction: row;
            }
        }

    }
</style>
