<template>
    <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>

    <section v-else>
        <div class="events-table" style="">
            <vue-table-dynamic :params="tableParams"></vue-table-dynamic>
        </div>
    </section>

</template>

<script>
    import VueTableDynamic from 'vue-table-dynamic'
    import * as EventsAction from './../actions/Event';
    import * as EventTypeAction from './../actions/EverntType';
    import * as EventMutator from './../mutators/EventMutator'
    import moment from "moment";

    export default {
        name: "Events",
        components: {
            VueTableDynamic
        },
        data() {
            return {
                events: [],
                eventTypes: [],
                isEventsLoaded: false,
                isEventTypesLoaded: false,
                errored: false,
                tableParams: {
                    data: [
                        ['#', 'id', 'Type', 'Device', 'Source', 'Comment', 'Created', '']
                    ],
                    border: true,
                    stripe: true,
                    columnWidth: [{column: 0, width: 40}, {column: 7, width: 40}]
                }
            }
        },
        methods: {
          transformEvents(events, eventTypes){
              let filteredEvents = new Map();
              eventTypes.forEach(ev => {
                  filteredEvents.set(ev['_id'], ev['name']);
              });

              events.forEach( (el, i) => {
                  let event = [
                      ++i,
                      el._id,
                      filteredEvents.has(el['eventType']) ? filteredEvents.get(el['eventType']) : el['eventType'],
                      el['device'],
                      el['acquisitionSource'],
                      el['comment'],
                      // el['data'],
                      moment(el['timestamp']['date']).format('DD.MM.YYYY HH:mm'),
                      ''
                  ];

                  this.tableParams.data.push(event)
              })
          }
        },
        mounted() {
            let events = EventsAction.getEvents();
            events.then(r => {
                if (r.status === EventTypeAction.STATUS_OK) {
                    this.events = r.data;
                    this.isEventsLoaded = true;
                } else {
                    this.errored = true;
                }
            })
                .then(() => {
                    let eventTypes = EventTypeAction.getEventTypes();
                    eventTypes.then(r => {
                        if (r.status === EventTypeAction.STATUS_OK) {
                            this.eventTypes = r.data;
                            this.isEventTypesLoaded = true;
                        } else {
                            this.errored = true;
                        }
                    })
                        .then(() => {
                            if (!this.errored && this.isEventsLoaded && this.isEventTypesLoaded) {
                                // this.events.forEach(el => {
                                //     this.tableParams.data.push(Object.values(el))
                                // });
                                this.transformEvents(this.events, this.eventTypes);
                            }
                        });
                })
        }
    }
</script>

<style scoped>

</style>
