<template>
    <div>
        <h3>Sorry, page not found</h3>
        <router-link to="/dashboard">Dashboard</router-link>
    </div>
</template>

<script>
    export default {
        name: "NotFoundPage"
    }
</script>

<style scoped>

</style>
